hr {
    color: sienna;
}
h1{
    background-color: #6495ed;
    width:200px;
    padding:10px;
    border:5px outset rgb(6, 155, 255);
    margin:0;
    text-align: center;
    display: block;
    position: fixed;
/* left:700px; */
    top:100px;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #acd7ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #0aa6ee;
}
p {
    /* background-color: #e0ffff; */
    margin-left: 20px;
}
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.input {
    border-radius: 5px;
    background-color: #9bdbf8;
    padding: 20px;
}
div{
    background-color:#b0c4de;
    text-align: center;
}
.tooltip {
    position: fixed;
    top:110px;
    left:700px;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* 悬停元素上显示点线 */
}

/* Tooltip 文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: fixed;
    top:90px;
    /* 定位 */
    position: absolute;
    z-index: 1;
}

/* 鼠标移动上去后显示提示框 */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.dropbtn {
    background-color: #0e427c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    top:60px;
}
.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* 使用一半宽度 (120/2 = 60) 来居中提示工具 */
}
/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
p.mid{
    text-align: center;
}
p.ri {
    text-indent:30px;
    font-family: Serif;
    font-size:30px;
    font-style:oblique;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    height:30px;
    background-color:blue;
    color:white;
}
td{
    text-align: right;
    height:30px;
    vertical-align: bottom;
    padding: 11px;
}
table,th,td{
    border: 2px solid blue;
}
a:link{
    color: #c0fcd9;
    text-decoration: none;
}
a:visited{
    color:cyan;
    text-decoration:none;
}
a:hover{
    color:#6495ed;
    text-decoration: underline;
}
a:active{
    color: #00f;
    text-decoration: underline;
    background-color:blue;
}
body {
    background-color: #b0c4de;
    /* background-image: url('spy family.jpg'); */
    background-repeat: no-repeat;
    background-position: top;    
}